<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<connectionStrings>
		<add name="HaberlerConnectionString" connectionString="Server=.;Database=HaberlerCom;User ID=OrnekUser;Password=12345;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
