<link rel="stylesheet" href="~/Content/html/css/style.css" type="text/css" media="all" />
<!--[if lte IE 6]>
    <style type="text/css" media="screen">
        .tabbed { height:420px; }
    </style>
<![endif]-->

<script src="~/Content/html/js/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="~/Content/html/js/jquery.jcarousel.pack.js" type="text/javascript"></script>
<script src="~/Content/html/js/jquery.slide.js" type="text/javascript"></script>
<script src="~/Content/html/js/jquery-func.js" type="text/javascript"></script>
<title>ETicaret Sisyemi | @ViewBag.Title</title>